* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.container::after{
content: "";
display: table;
clear:both;
}

[class*="col-"]{
  float: left;
}

.col-1{
  width: calc(100% / 12);
}

.col-2{
  width: calc((100% / 12) *2)
}

.col-6{
  width: calc((100% / 12) *6)
}

.col-8{
  width: calc((100% / 12) *8)
}

.col-12{
  width: 100%;
}
