[class*="col-"]{
  background: pink;
  border: 1px solid black;
  height: 300px;
  text-align: center;
  line-height: 300px;

}

[class*="col-"] .container [class*="col-"]{
  height:260px;
  background: lightcoral;
  border: 1px solid #fff;
  line-height: normal;
  position: relative;
}

.nasted{
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}
